$def with ()
<a href="/"><h1>Insert</h1></a>

<form method="POST">
    <div class="form-group" style="width: 80%;margin: auto;">
        <label for="tip_de">Nombre del Tip</label>
        <input  class="form-control form-control-sm" type="text"  id="tip_de" name="tip_de" >
        <br>
        <label for="tip">Tip</label>
        <input  class="form-control form-control-sm" type="text"  id="tip" name="tip" >
        <br>
        <label for="tiempo">Tiempo</label>
        <input  type="text" class="form-control"  id="tiempo" name="tiempo">
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Insert</button>
    </div>
</form>