$def with (page)
<!doctype html>
<html lang="es">
    <head>
        <title>Registros BotTips-Angie</title>
           <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
            
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Registros BotTips-Angie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Registros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
          $:page

      <!--INICIO DEL FOOTER-->
    
    <footer>
      <div class="container-footer-all">
           <div class="container-body">
               <div class="colum1">
                   <h1>Informacion</h1>
                   <p> 
                      Universidad Tecnologica de Tulancingo <br>
                      Carrera: Tecnologias de la informacion y comunicacion<br>
                      Grupo: TIC 51<br>
                      Nombre: Maria de los Angeles Gayosso Octaviano
                   </p>
               </div>
               <div class="colum2">
                   <h1>Redes Sociales</h1>
                   <div class="row">
                       <a href="https://www.facebook.com/angeles47313"><img src="/static/icon/facebook.png"></a>
                       <label>Sigueme en Facebook</label>
                   </div>
                   <div class="row">
                       <a href="https://github.com/angelesOct"><img src="/static/icon/github.png"></a>
                       <label>Sigueme en Github</label>
                   </div>
               </div>

           </div>

       </div>

       <div class="container-footer">
              <div class="footer">
                   <div class="copyright">
                       © 2019 Todos los Derechos Reservados | <a href="">Angeles Octaviano</a>
                   </div>
               </div>
           </div>   
   </footer>
          <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="/static/css/fontello.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <script src="/static/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/static/js/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>